{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>수정 페이지</h1>
    <form action="{% url 'update' post.id %}" method = "POST">
        {% csrf_token %}
        <p>제목 : <input type="text" name="title" value="{{ post.title }}"></p>
        <br>
        <p>본문 : <input type="textarea" name="body" value="{{ post.body }}"></p>
        
        <a href="{% url 'home' %}">home으로 가기</a>
        <hr>
        <button type="submit">저장하기</button>
    </form>
</div>
</body>
{% endblock %}}